! special
*.foreground:   #e0def4
*.background:   #191724
*.cursorColor:  #6e6a86
! black
*.color0:       #1f1d2e
*.color8:       #26233a
! red
*.color1:       #eb6f92
*.color9:       #eb6f92
! green
*.color2:       #31748f
*.color10:      #31748f
! yellow
*.color3:       #f6c177
*.color11:      #ebbcba
! blue
*.color4:       #9ccfd8
*.color12:      #9ccfd8
! magenta
*.color5:       #c4a7e7
*.color13:      #c4a7e7
! cyan
*.color6:       #9ccfd8
*.color14:      #9ccfd8
! white
*.color7:       #e0def4
*.color15:      #e0def4
